#searchButton {
  position: fixed;
  right: 5px;
  bottom: 25px;
  background-color:rgba(255,255,255,1);
  width:auto;
  height:auto;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  }
#searchBox {
  position: fixed;
  right: 70px;
  bottom: 20px;
  /*background-color:rgba(255,255,255,1);*/
  width:auto;
  height:auto;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  }
